{% extends "base.html" %}
{% block content %}
{% if results %}
        <ul>
        {% for result in results %}
            <li>
                <form action="/web/process" method=get>
                {{ result }} -
                <input type="hidden" name="archive" value={{ result }}>
                workers: <input type="text" name="workers">
                <input type=submit value=Process>
                </form>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        upload someting ?
    {% endif %}
{% endblock %}
